body {
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

input {
  outline: none;
}

h3 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px
}

h4 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

ul {
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

li {
  list-style: none;
}

.header {
  margin: 0 auto;
  // border: 1px solid red;
  width: 100%;
  max-width: 1024px;
  padding: 10px;
  box-sizing: border-box;

}

.header .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
}

.slide {
  margin: 0 auto;
  // border: 1px solid red;
  width: 100%;
  max-width: 1024px;
  background-position: 0/0;
  background-size: cover;
  max-height: 512px;
  text-align: center;
  padding-top: 190px;
  margin-bottom: 32px;

  .slider__title {
    font-size: 72px;
    line-height: 84px;
    color: #FFFFFF;
    margin-bottom: 22px;
  }

  .slider__button {
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background: #0E49B5;
    border-radius: 5px;
    margin-bottom: 170px;
    padding: 14px 26px;

    &:hover {
      background-color: #ffd67d;
      font-size: 22px;
      transition: font-size 0.5s, background-color 0.3s;

    }
  }


}

.slide_1 {
  background: url(../img/slider/1.png) 50% 50%/cover no-repeat;
}

.slide_2 {
  background: url(../img/slider/2.png) 50% 50%/cover no-repeat;
}

.slide_3 {
  background: url(../img/slider/3.png) 50% 50%/cover no-repeat;
}

.slide>.yellow {
  color: #ffae00;
}

.searchAndFilter {
  text-align: center;
  position: relative;



  .searchDivforBeforeInput {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;


    &:before {
      content: "";
      height: 20px;
      width: 20px;
      color: #585050;
      background-image: url(../img/search.svg);
      position: absolute;
      top: 20px;
      left: 25px;
    }

    .searchAndFilter__search {
      height: 60px;
      width: 100%;
      max-width: 1024px;
      background: #FFFFFF;
      border: 1px solid #DDDADA;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      padding-left: 70px;
      box-sizing: border-box;
      margin-bottom: 20px;


      &::placeholder {
        font-size: 18px;
        line-height: 21px;
        color: #767272;
      }
    }
  }


}

.itemsContainer {
  margin: 0 auto;
  width: 100%;
  width: 1024px;
  // border: solid 1px green;
  margin-bottom: 50px;

  .itemsContainer__filters {
    width: 100%;
    width: 326px;
    /* border: solid 1px red; */
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
    box-shadow: 0px 0px 15px rgb(0 0 0 / 15%);
    border-radius: 10px;
    // padding-left: 30px;
    background-color: #EDF3FF;

    .accordion__title {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 50px;
      border-bottom: 1px solid #DDDDDD;
      position: relative;

      &::after {
        content: url(../img/accordeon/arrow-bottom.svg);
        position: absolute;
        top: 0px;
        right: 22px
      }

      &:last-child {
        border-bottom: none;
      }
    }

    h4 {
      padding-left: 30px;

      &:hover {
        background-color: #eed193;
        transition: all 1s;
      }
    }

    .panel {
      background-color: white;
      padding-top: 25px;
      padding-bottom: 25px;
      padding-left: 30px;
    }

    .price {
      text-align: right;
    }

    .panel__values-item {
      display: flex;
      justify-content: space-between;
      padding-right: 30px;
    }
  }
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 120px;
}

/* cardContainer*/
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 10px;

}

.product-card {
  position: relative;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 24px;
  border: 1px solid #E0E0E0;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  font-size: 14px;
  line-height: 16px;

  /*  top of productCard */
  .containerForProductCard {
    padding: 14px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .product-like {
      position: absolute;
      width: 24px;
      height: 24px;
      right: 16px;
      top: 14px;
      z-index: 9999;
      cursor: pointer;
      opacity: 0.8;
      transition: opacity 1s ease-out 0.5s;
    }

    .product-like.active {
      background-image: url(../img/like-red.svg);
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: bottom;
      border-radius: 50%;
      opacity: 1;
      transition: opacity 1s ease-out 0.5s;

    }

    .product-card__img {
      display: block;
      width: auto;
      height: 200px;
      margin: 0 auto;
      margin-bottom: 28px;
    }

    .product-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      margin: 0 auto;
      margin-bottom: 4px;
    }

    .product-stock-status {
      margin: 0 auto 4px;
      color: #767272;
    }

    .product-stock-status:before {
      content: '';
      display: inline-block;
      height: 20px;
      width: 20px;
      border: 1px solid #1BC943;
      border-radius: 50%;
      margin-right: 8px;
      background-image: url(../img/check.svg);
      background-repeat: no-repeat;
      background-position: center;
      vertical-align: middle;
    }

    .product-stock-status.empty:before {
      content: '';
      display: inline-block;
      height: 24px;
      width: 24px;
      border: none;
      margin-right: 8px;
      background-image: url(../img/close.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      vertical-align: middle;
    }

    .product-price {
      margin: 0 auto 8px;
      color: #767272;
    }

    .product-card__btn {
      margin: 0 auto;
      width: 150px;
      height: 50px;
      font-size: 20px;
      line-height: 23px;
      color: #FFFFFF;
      background: #0E49B5;
      border-radius: 5px;
      transition: 600ms;
    }

    .product-card__btn:hover {
      background: #3472e6;
      transition: 600ms;
    }

    .product-card__btn:active {
      background: #fff;
    }

    .product-card__btn.empty {
      background: #DDDDDD;
      cursor: auto;
    }

  }

}

.product-card__btn {
  margin: 0 auto;
  width: 150px;
  height: 50px;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  background: #0E49B5;
  border-radius: 5px;
  transition: 600ms;
}

.product-card__btn:hover {
  background: #3472e6;
  transition: 600ms;
}

.product-card__btn:active {
  background: #fff;
}

.product-card__btn.empty {
  background: #DDDDDD;
  cursor: auto;
}


/* bottom of productCard */
.product-footer-container {
  display: flex;
  justify-content: space-between;

  height: 86px;
  padding: 19px 23px 19px 13px;
  background: #DAE2EA;
  border-radius: 0px 0px 8px 8px;
  font-size: 14px;
  line-height: 16px;
  color: #3B3E66;

  .product-footer-item-2 {
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .product-reviews {
    margin-bottom: 6px;
    vertical-align: middle;
  }

  .product-reviews:before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 11px;
    background-image: url(../img/like-red.svg);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
  }

  .product-footer-item-1-paragraph {
    margin-left: 30px;
  }

  .product-orders {
    margin-bottom: 6px;
    font-weight: 700;
    vertical-align: middle;
  }

}



/* _____________________________________________________________________________modal window */

body.modal_active {
  overflow: hidden;
}

.modal-background {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 999998;
  opacity: 0;
  font-size: 0;
}

.modal-window-container {
  display: flex;
  position: fixed;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-250%, -50%);
  align-items: center;
  z-index: 999999;
  background-color: #fff;
  transition: all 0.5s;
}

.modal-background.modal_active {
  display: block;
  z-index: 999998;
  opacity: 0.5;
}

.modal-window-container.modal_active {
  display: flex;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  width: 100%;
  max-width: 62%;
  min-width: 900px;
  max-width: 1150px;

}


.modal-window__element-one {
  height: auto;
  width: 250px;
  padding: 0 16px 0 28px;
  margin-bottom: 0px;
}

.modal-window__element-two {
  padding: 35px;
  border-right: 1px solid #3B3E66;
  border-left: 1px solid #3B3E66;
  height: 100%;
}

.product-title.modal-window {
  margin-bottom: 20px;
  color: #3B3E66;
}

.modal-window__element-two_paragraph {
  margin-bottom: 15px;
}

.modal-window__element-two_paragraph:last-child {
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 16px;
}

.product-footer-container.modal-window {
  margin-bottom: 28px;
  width: 300px;
  border-radius: 10px;
}

.modal-window__element-three {
  padding: 35px;
  text-align: center;
  margin: 0 auto;
}

.product-price.modal-window {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #3B3E66;
}

.product-stock-status.modal-window {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 21px;
  color: #3B3E66;
}

.product-stock-status.modal-window::before {
  display: none;
}


@media only screen and (min-width: 800px) and (max-width: 940px) {

  .modal-window__element-one {
    height: auto;
    width: 200px;
    padding: 16px;
    margin: 0px
  }

  .product-title.modal-window {
    margin-bottom: 10px;
  }

  .product-price.modal-window {
    font-size: 28px;
    line-height: 1.17;
  }

  .modal-window__element-three {
    padding: 16px;
  }
}


// @media only screen
// and (min-width: 670px)
// and (max-width: 799px) {

//   .modal-window__element-one {
//     height: auto;
//     width: 200px;
//     padding: 16px;
//     margin: 0px
//   }
//   .modal-window__element-two {
//     padding: 16px 24px;
//   }
//   .product-title.modal-window {
//     margin-bottom: 10px;
//   }
//   .product-footer-container.modal-window {
//     margin-bottom: 28px;
//     max-width: 250px;
//     border-radius: 10px;
//   }
//   .product-price.modal-window {
//     font-size: 28px;
//     line-height: 1.17;
//   }
//   .product-stock-status.modal-window {
//     font-size: 16px;
//     line-height: 1.17;
//   } 
//   .modal-window__element-three {
//     padding: 16px;
//   }
//   .product-card__btn.modal-window {
//     max-width: 130px;
//   }
// }

@media only screen and (max-width: 950px) {
  .modal-window-container {
    flex-direction: column;
  }

  .modal-window-container.modal_active {
    flex-direction: column;
    max-width: 90%;
    max-height: 100vh;
    overflow: auto;
  }

  .modal-window__element-one {
    height: auto;
    width: 200px;
    padding: 6px;
    margin: 0;

    border-bottom: solid 1px gray;
  }

  .modal-window__element-two {
    padding: 6px 24px;
    border: none;
    padding-bottom: 30px;
    border-bottom: solid 1px gray;
    margin-bottom: 25px;
  }

  .product-title.modal-window {
    margin-bottom: 10px;
  }

  .product-footer-container.modal-window {
    margin-bottom: 16px;
    max-width: 250px;
    border-radius: 10px;
  }

  .product-price.modal-window {
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 12px;
  }

  .product-stock-status.modal-window {
    font-size: 16px;
    line-height: 1.17;
  }

  .modal-window__element-three {
    padding: 16px;
  }

  .product-stock-status.modal-window {
    margin-bottom: 12px;
  }

  .product-card__btn.modal-window {
    width: 150px;
  }
}



/* _______________________________________________________________________________search input */
.search-area {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  height: 60px;
  padding: 6px 6px 6px 26px;
  border: 1px solid #DDDADA;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 15%);
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.search-area__text-input {
  vertical-align: middle;
  color: black;
  font-size: 18px;
  line-height: 21px;
  height: 100%;
  width: 95%;
  border: none;
}


.search-area::before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 20px;
  color: #585050;
  background-image: url(../img/search.svg);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

::placeholder {
  opacity: 0.5;
  color: #767272;
  font-size: 18px;
  line-height: 21px;
}

.search-area__filter {
  position: absolute;
  right: 6px;
  top: 10px;
  background-color: #fff;
  border: none;

}

.search-area__sort {
  position: absolute;
  right: 60px;
  top: 10px;

  background-color: #fff;
  border: none;
}

/* _________________________________________________________________________________sort btn */
.sortModal {
  display: none;
  position: absolute;
  top: 110%;
  right: 0px;
  max-height: 160px;
  width: 160px;
  flex-direction: column;
  padding: 16px;
  font-size: 14px;
  line-height: 1.17;
  color: #0E49B5;
  border: 1px solid #E2E2E2;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  z-index: 99999;
  background-color: #ffffff;
}

.sortModal.active {
  display: flex;
}

.sort-modal-btn {
  width: 100%;
  height: 24px;
  background-color: #FFFFFF;
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;
  border-radius: 15px;
  align-items: center;
}

.sort-modal-btn.default {
  display: block;
  text-align: center;
  min-height: 24px;
}

.sort-modal-btn.active {

  background: #EDF3FF;
  border-radius: 15px;
  height: 24px;
}

.sort-modal-btn__img-top {
  transform: rotate(270deg);
  margin-right: 10px;
}

.sort-modal-btn__img-bottom {
  transform: rotate(90deg);
  margin-right: 8px;

}



/*____________________________________________________________________________ accordion section */
.accordion {
  width: 100%;
  max-width: 352px;
  height: 100%;
  margin: 10px 20px 10px 10px;
  border: 1px solid #DDDADA;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
}

.accordion-btn {
  width: 320px;
  position: relative;
  font-size: 18px;
  line-height: 21px;
  height: 50px;
  background: #EDF3FF;
  border-bottom: 0.5px solid #DDDDDD;
  padding: 14px 16px;
  vertical-align: middle;

}

.accordion-btn.active {
  background: #fff;
}

.accordion-btn__arrow {
  position: absolute;
  top: 13px;
  right: 16px;
  transition: 0.33s;
}

.accordion-btn__arrow.active {
  position: absolute;
  top: 13px;
  right: 16px;
  transform: rotate(90deg);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: 0.33s;
}

.accordion-content.active {
  max-height: none;
  display: flex;
  flex-wrap: wrap;
  padding: 14px 16px;
}

.accordion-content.active>label {
  vertical-align: middle;
  width: 50%;
  margin-bottom: 16px;
  vertical-align: middle;
  cursor: pointer;
}

.accordion-content.active>label>input {
  margin-right: 6px;
  vertical-align: middle;
  cursor: pointer;
}

.accordion-content-input {
  max-height: 0;
  overflow: hidden;
  transition: 0.33s;
}

.accordion-content-input.active {
  max-height: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 14px 16px 0 16px;
}

.accordion-content-input.active>label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-content-input-number {
  margin: 0 0 16px 10px;
  width: 189px;
  height: 40px;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  padding: 0 6px;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}


// End accordeon section